.attacks {
  display: flex;
  flex-direction: column;

  .gridTitles {
    display: grid;
    // grid-template-columns: repeat(10, 1fr);
    grid-template-columns: 1fr 0.6fr 80px 90px 1fr 0.6fr 65px 100px 60px 1fr;
    margin-bottom: 5px;
    grid-gap: 5px;
    padding: 5px 0px;

    p {
      font-size: 0.8rem;
    }
  }

  .gridAttacks {
    .gridAttack {
      display: grid;
      // grid-template-columns: repeat(10, 1fr);
      grid-template-columns: 1fr 0.6fr 80px 90px 1fr 0.6fr 65px 100px 60px 1fr;
      grid-gap: 5px;
      transition: 300ms all;
      padding: 10px 0px;

      &:hover {
        background-color: #151515;
        cursor: pointer;
      }

      p {
        font-size: 1rem;

        &.ellipsis {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  background-color: #121212;
  border: 2px solid #000;
  padding: 55px 70px;

  h1 {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .modalGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    .gridRow {
      display: grid;
      grid-template-columns: 140px 1fr;
      grid-gap: 40px;
      background-color: #161616;
      padding: 10px 35px;

      p {
        font-size: 1.4rem;
      }
    }
  }
  .buttonContainer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
