.assignRitualContainer {
  padding: 60px;
  box-shadow: 5px 5px 0px #000;
  border: 1px solid #000;
  margin-top: 100px;

  .topArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }

  .assignContainer {
    .gridTwoItems {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px;

      margin-top: 25px;
    }

    .alignEnd {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
