.vitalsContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 5px 5px 0px #000;
  border: 1px solid #000;
  margin-bottom: 50px;

  h1 {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
  }
}
